<section class="user-section">
  <h1><%= "Name: #{@user.name}" %></h1>

  <%= render 'profile_status' %>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
